.section {
    background: var(--bg-black900);
    min-height: 100vh;
    display: block;
    opacity: 0;
    padding: 0 30px;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all .8s ease;
}


.section.backSection { z-index: 1; }
.section.active { z-index: 2; opacity: 1; animation: slideSection 1s ease;  }
@keyframes slideSection {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
}

@media (max-width: 1199px) {
    .aside { left: -270px; }
    .aside.open { left: 0; }
    .section { left: 0; }
    .section.open { left: 270px; }
}

.countdown {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /*background-color: transparent;*/
    font-family: 'Arial', sans-serif;
    user-select: none;
}

.h1 {
    font-size: 2rem;
    margin-bottom: 80px;
    color: var(--skin-color);
    text-transform: uppercase;
    text-shadow: var(--textShadow);
}

.timer {
    display: flex;
    justify-content: center;
    gap: 35px;
}

/*.timeBox {*/
/*    !*width: 200px;*!*/
/*    !*height: 200px;*!*/
/*    !*border: 2px solid #fff;*!*/
/*    box-shadow: 0 0 15px inset #fff;*/
/*    border-radius: 50%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    color: white;*/
/*    font-weight: bold;*/
/*}*/

.timeBox {
    width: 250px;
    height: 250px;
    /*border-radius: 50%;*/
    /*border: 1px solid rgba(0, 0, 0, 0.5);*/
    /*box-shadow: 0 0 15px inset #fff;*/
    display: flex;
    flex-direction: column;
    text-shadow: 0 0 15px #000;
    justify-content: center;
    align-items: center;
    color: var(--skin-color);
    font-weight: bold;
}

.number {
    font-size: 5rem;
}

.label {
    font-size: 3rem;
    /*background: rgba(127, 76, 255, 0.2);*/
}


