
.section {
    background: var(--bg-black900);
    min-height: 100vh;
    display: block;
    opacity: 0;
    padding: 0 30px;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all .8s ease;
}


.section.backSection { z-index: 1; }
.section.active { z-index: 2; opacity: 1; animation: slideSection 1s ease;  }
@keyframes slideSection {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
}
.hidden { display: none !important; }
/*.main-content { padding-left: 270px; }*/
.padd15 { padding-left: 15px; padding-right: 15px; }
.container { max-width: 1100px; width: 100%; margin: auto; }
/*.section .container { padding-top: 60px; padding-bottom: 70px; }*/
.sectionTitle { flex: 0 0 100%; max-width: 100%; margin-bottom: 60px; }
.sectionTitle h2 { font-size: 40px; color: var(--text-black900); font-weight: 700; position: relative; }
.sectionTitle h2::before {
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;

}
.sectionTitle h2::after {
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;

}
.row { display: flex; flex-wrap: wrap; margin-left: -15px; margin-right: -15px; position: relative; }
.btn {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    border: none;
    white-space: nowrap;
    background: var(--skin-color);
    transition: all .3s ease;
}
.btn:hover { transform: scale(1.05); }
.shadowDark { box-shadow: 0 0 20px rgba(48, 46, 77, .15); }

/* ASIDE */

.aside {
    width: 270px;
    background: var(--bg-black100);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    height: 100%;
    padding: 30px;
    border-right: 1px solid var(--bg-black50);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
}
.aside .logo { position: absolute; top: 50px; font-size: 30px; text-transform: capitalize; }
.aside .logo a { color: var(--text-black900); font-weight: 700; padding: 15px 20px; font-size: 30px; letter-spacing: 5px; position: relative;  }
.aside .logo a::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
    /*border-radius: 50%;*/
}
.aside .logo a::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
    /*border-radius: 50%;*/
}
.aside .logo a span { font-family: 'Marck Script', cursive; font-size: 40px; color: var(--skin-color); animation: gradient-change 2s linear infinite alternate; background: linear-gradient(
    /*
      in oklch produces more vibrant gradient results
      learn more https://developer.chrome.com/docs/css-ui/access-colors-spaces#color_interpolation
    */
        to right in oklch,
            /* use the variables in a gradient (or wherever!) */
        var(--＠color-1),
        var(--＠color-2)
);

    /* old browser support */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* modern browser version */
    background-clip: text;
    color: transparent;}
.aside .nav { margin-top: 50px; }
.aside .nav li { margin-bottom: 20px; display: block; color: var(--navIconColor) }
.aside .nav li a {text-transform: uppercase; letter-spacing: 0.15em; font-size: 16px; font-weight: 600; display: block; color: var(--text-black900); padding: 5px 15px; border-bottom: 1px solid var(--bg-black50); width: 100% }
.aside .nav li a:hover {
    scale: 0.9;  transition: 0.3s ease;
}
.aside .nav li a.active { color: var(--skin-color); }
.aside .nav li a i { margin-right: 15px; }
.aside .navToggler {
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black100);
    display: none;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}
.aside .navToggler.open span { background-color: transparent; }
.aside .navToggler span { height: 2px; width: 18px; background: var(--skin-color); display: inline-block; position: relative; }
.aside .navToggler span::before {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}
.aside .navToggler.open span::before { transform: rotate(45deg); top: 0; }
.aside .navToggler span::after {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}
.aside .navToggler.open span::after { transform: rotate(-45deg); top: 0; }

/* HOME */

.home { min-height: 100vh; display: flex; color: var(--text-black900); }
.home .homeInfo { flex: 0 0 80%; max-width: 80%; text-shadow: var(--textShadow)}
h3.hello {   font-family: "Jura", serif; font-size: 28px; margin: 15px 0; }
h3.hello span { font-family: 'Marck Script', cursive; font-size: 50px; font-weight: 700; color: var(--skin-color); }
h3.profession { font-size: 30px; margin: 15px 0; font-family: 'Jura', serif}
.p {font-family: "Jura", serif; margin: 15px 0;}
.typing { color: var(--skin-color); font-family: 'Jura', serif}
.homeInfo p { margin-bottom: 70px; font-size: 20px; color: var(--text-black700); font-family: 'Jura', serif;  font-weight: 300; font-optical-sizing: auto; font-style: normal; text-align: justify-all; }
.home .homeImg { flex: 0 0 20%; max-width: 20%; text-align: center;}
.homeImg::after {
    content: '';
    position: absolute;
    height: 180px;
    width: 580px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
    right: 20px;
    bottom: -5px;
    border-radius: 50%;
    box-shadow: 10px 5px 10px var(--skin-color);
    /*box-shadow: 55px 50px 50px 10px var(--skin-coub);*/

}
/*.homeImg::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    height: 180px;*/
/*    width: 580px;*/
/*    border-top: 10px solid var(--skin-color);*/
/*    border-left: 10px solid var(--skin-color);*/
/*    left: -20px;*/
/*    top: -40px;*/
/*    !*box-shadow: 15px 0 15px 0 var(--skin-coub);*!*/
/*    !*border-radius: 50%;*!*/
/*}*/
.home .homeImg img { height: 400px; margin: auto; border-radius: 4px; }

/* ABOUT */

.about .aboutContent { flex: 0 0 100%; max-width: 100%;  }
.about .aboutContent .aboutText { flex: 0 0 100%; max-width: 100%; }
.about .aboutContent .aboutText h3 { font-size: 24px; margin-bottom: 15px; font-weight: 700; color: var(--text-black900); }
.about .aboutContent .aboutText h3 span { color: var(--skin-color); }
.about .aboutContent .aboutText p { font-size: 16px; line-height: 25px; color: var(--text-black700); text-align: justify; }
.about .aboutContent .personalInfo { flex: 0 0 60%; max-width: 60%; margin-top: 40px; }
.about .aboutContent .personalInfo .infoItem { flex: 0 0 50%; max-width: 50%; }
.about .aboutContent .personalInfo .infoItem p { font-weight: 600; padding: 10px 0; font-size: 16px; color: var(--text-black900); border-bottom: 1px solid var(--bg-black50); }
.about .aboutContent .personalInfo .infoItem p span { font-weight: 400; color: var(--text-black700); margin-left: 4px; display: inline-block; }
.about .aboutContent .personalInfo .buttons { margin-top: 30px; }
.about .aboutContent .personalInfo .buttons .btn { margin-top: 10px; }
/*.about .aboutContent .statistics { flex: 0 0 40%; max-width: 40%; margin-top: 40px; }*/
.about .aboutContent .statistics {max-width: 100%; margin-top: 40px; }
.about .aboutContent .statistics .skillItem { flex: 0 0 100%; max-width: 100%; margin-bottom: 25px; }
.about .aboutContent .statistics .skillItem h5 { line-height: 40px; font-weight: 600; font-size: 16px; color: var(--text-black900); /*text-transform: capitalize;*/ }
.about .aboutContent .statistics .skillItem .skillPercent { position: absolute; right: 0; color: var(--text-black900); top: -40px; font-weight: 400; line-height: 40px; }
.about .aboutContent .statistics .skillItem .progress { background-color: var(--bg-black50); height: 7px; border-radius: 4px; width: 100%; position: relative; }
.about .aboutContent .statistics .skillItem .progress .progressIn { position: absolute; left: 0; top: 0; height: 100%; border-radius: 4px; background-color: var(--skin-color); }
.about .aboutContent .roadmapLeft, .about .aboutContent .roadmapRight { flex: 0 0 50%; max-width: 50%; margin-top: 30px; height: 220vh}
.about .aboutContent h3.title { font-size: 24px; margin-bottom: 30px; font-weight: 700; color: var(--text-black900); }
.about .aboutContent .timelineBox { flex: 0 0 100%; max-width: 100%; }
.about .aboutContent .timeline { background-color: var(--bg-black100); padding: 30px 15px; border: 1px solid var(--bg-black50); border-radius: 10px; width: 100%; position: relative;}
.about .aboutContent .timeline .timelineItem { position: relative; padding-left: 37px; padding-bottom: 50px;
    /* Create View Timeline */
    view-timeline-name: --revealing-image;
    view-timeline-axis: block;

    /* Attach animation, linked to the  View Timeline */
    animation: linear reveal both;
    animation-timeline: --revealing-image;

    /* Tweak range when effect should run*/
    animation-range: entry 10% cover 50%;
}

.about .aboutContent .timeline .timelineItem:last-child { padding-bottom: 0; }
.about .aboutContent .timeline .timelineItem::before { content: ''; width: 1px; position: absolute; height: 100%; left: 7px; top: 0; background-color: var(--skin-color); }
.about .aboutContent .timeline .circleDot { position: absolute; left: 0; top: 0; height: 15px; width: 15px; border-radius: 50%; background-color: var(--skin-color); }
.about .aboutContent .timeline .timelineDate { font-weight: 400; font-size: 14px; margin-bottom: 12px; color: var(--text-black700); }
.about .aboutContent .timeline .timelineDate .fa { margin-right: 5px;}
.about .aboutContent .timeline .timelineTitle { font-weight: 700; font-size: 18px; margin-bottom: 15px; /*text-transform: capitalize;*/ color: var(--text-black900); }
.about .aboutContent .timeline .timelineText { line-height: 25px; font-size: 16px; text-align: justify; color: var(--text-black700); }

/* SERVICE */

.service .container { padding-bottom: 40px;}
/*.offer .container:hover .serviceItemInner:not(:hover) { scale: .95; background: var(--iconCardsShadow); box-shadow: var(--iconCardsShadow);}*/
.service .serviceItem { margin-bottom: 30px; flex: 0 0 33.33%; max-width: 33.33%; }

/*@property --gradient-angle {*/
/*    syntax: "<angle>";*/
/*    initial-value: 0turn;*/
/*    inherits: false;*/
/*}*/
/*.offer .serviceItem .serviceItemInner:hover {*/
/*    animation: 2s gradient-angle infinite linear;*/
/*    border: 2px solid transparent;*/
/*    background-image: linear-gradient(#584827, #2d230f),*/
/*    conic-gradient(*/
/*            from var(--gradient-angle),*/
/*            #584827 0%,*/
/*            #c7a03c 37%,*/
/*            #f9de90 30%,*/
/*            #c7a03c 33%,*/
/*            #584827 40%,*/
/*            #584827 50%,*/
/*            #c7a03c 77%,*/
/*            #f9de90 80%,*/
/*            #c7a03c 83%,*/
/*            #584827 90%*/
/*    );*/

/*    background-clip: padding-box, border-box;*/
/*    background-origin: padding-box, border-box;*/
/*}*/

/*@keyframes gradient-angle {*/
/*    to {*/
/*        --gradient-angle: 1turn;*/
/*    }*/
/*}*/


.service .serviceItem .serviceItemInner { height: 100%; background-color: var(--bg-black100); border: var(--bg-black50); border-radius: 10px; padding: 30px 15px; text-align: center; transition: all .3s ease;}
.service .serviceItem .serviceItemInner:hover { box-shadow: var(--serviceItemInner) }
.service .serviceItem .serviceItemInner .icon { height: 60px; width: 60px; border-radius: 50%; display: block; margin: 0 auto 30px; text-align: center; transition: all .3s ease; }
.service .serviceItem .serviceItemInner .icon .fa { font-size: 40px; line-height: 69px; color: var(--skin-color); transition: all .3s ease;}
.service .serviceItem .serviceItemInner:hover .icon { background: var(--skin-color); box-shadow: 0 0 15px var(--iconService) }
.service .serviceItem .serviceItemInner:hover .icon .fa { font-size: 25px; color: #FFF;}
.service .serviceItem .serviceItemInner h4 { font-size: 18px; margin-bottom: 15px; color: var(--text-black900); font-weight: 700; }
.service .serviceItem .serviceItemInner p { font-size: 16px; color: var(--text-black700); line-height: 25px; }

/* PORTFOLIO */

.portfolio .container { padding-bottom: 40px; }
.portfolio .portfolioHeading { flex: 0 0 100%; max-width: 100%; margin-bottom: 40px; }
.portfolio .portfolioHeading h2 { color: var(--text-black900); font-weight: 500; }
.portfolio .portfolioItem { flex: 0 0 33.33%; max-width: 33.33%; margin-bottom: 30px; }
.portfolio .portfolioItemInner { border: 6px solid var(--bg-black100); border-radius: 10px; overflow: hidden; cursor: pointer; }

.portfolio .portfolioItemInner:hover { border: 6px solid var(--skin-color); border-radius: 10px; overflow: hidden; cursor: pointer; transition: 0.7s; box-shadow: 0 0 1px 1px var(--skin-color)}


.portfolio .portfolioItemInner .portfolioImg img { width: 100%; display: block; }

/* CONTACT */

.contactTitle { color: var(--skin-color); text-align: center; font-size: 25px; margin-bottom: 20px; }
.contactSubtitle { color: var(--text-black900); text-align: center; font-size: 15px; margin-bottom: 60px; }
.contact .contactInfoItem { flex: 0 0 25%; max-width: 25%; text-align: center; margin-bottom: 60px; }
.contact .contactInfoItem .icon { display: inline-block; }
.contact .contactInfoItem .icon .fa { font-size: 25px; color: var(--skin-color); }
.contact .contactInfoItem h4 { font-size: 18px; font-weight: 700; color: var(--text-black900); text-transform: capitalize; margin: 15px 0 5px; }
.contact .contactInfoItem p { font-size: 16px; line-height: 25px; color: var(--text-black700); font-weight: 400; }
.contact .contactForm { flex: 0 0 100%; max-width: 100%; }
.contact .contactForm .col6 { flex: 0 0 50%; max-width: 50%; }
.contact .contactForm .col12 { flex: 0 0 100%; max-width: 100%; }
.contact .contactForm .formItem { margin-bottom: 30px; }
.contact .contactForm .formItem .formControl {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--bg-black100);
    border: 1px solid var(--bg-black50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-black700);
    transition: all .3s ease;
    font-family: 'Poppins', sans-serif;
}
.contact .contactForm .formItem .formControl:focus { box-shadow: 0 0 20px rgba(48, 46, 77, .15); }
.contact .contactForm .formItem textarea.formControl { height: 140px; font-family: 'Poppins', sans-serif; }
.contact .contactForm .btn { height: 50px; padding: 0 50px; cursor: pointer; font-family: 'Poppins', sans-serif; }

@media (max-width: 1199px) {

    .aside { left: -270px; }
    .aside.open { left: 0; }
    .aside .navToggler { display: flex; left: 30px; }
    .aside .navToggler.open { left: 300px; }
    .section { left: 0; }
    .section.open { left: 270px; }
    .section .container { padding-top: 70px; }

    .homeImg::before, .homeImg::after { display: none; }

    .about .aboutContent .personalInfo .infoItem p span { display: block; margin-left: 0; }
}

@media (max-width: 991px) {

    .home .homeInfo { flex: 0 0 100%; max-width: 100%; }
    .home .homeImg { display: none; }

    .about .aboutContent .statistics, .about .aboutContent .personalInfo, .about .aboutContent .roadmapRight, .about .aboutContent .roadmapLeft { flex: 0 0 100%; max-width: 100%; }

    .contact .contactInfoItem, .portfolio .portfolioItem, .service .serviceItem { flex: 0 0 50%; max-width: 50%; }
}

@media (max-width: 767px) {

    .portfolio .portfolioItem, .service .serviceItem, .contact .contactForm .col6 { flex: 0 0 100%; max-width: 100%; }
}

@media (max-width: 460px) {

    .contact .contactInfoItem { flex: 0 0 100%; max-width: 100%; }

    .about .aboutContent .statistics .skillItem h5 { line-height: 40px; font-weight: 600; font-size: 12px; color: var(--text-black900); /*text-transform: capitalize;*/ }
    .about .aboutContent .statistics .skillItem .skillPercent
    { top: -40px; font-weight: 400; line-height: 40px; font-size: 14px; }

}

/* Style Switcher */

.styleSwitcher {
    position: fixed;
    right: 0;
    top: 20px;
    padding: 15px;
    width: 200px;
    border: 1px solid var(--bg-black50);
    background: var(--bg-black100);
    z-index: 101;
    border-radius: 5px;
    transition: all .3s ease;
    transform: translateX(100%);
}
.styleSwitcher.open { transform: translateX(-25px); }
.styleSwitcher .sIcon {
    position: absolute;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    background: var(--bg-black100);
    color: var(--text-black900);
    right: 100%;
    border: 1px solid var(--bg-black50);
    margin-right: 25px;
    cursor: pointer;
    transition: all .3s ease;
    border-radius: 50%;
}
.styleSwitcher .sIcon i { line-height: 40px; }
.styleSwitcher .styleSwitcherToggler { top: 0; }
.styleSwitcher .styleSwitcherToggler .sIconOne {margin-top: 10px;}
/*.styleSwitcher .dayNight { top: 55px; display: flex; justify-content: center; align-items: center; color: var(--skin-color)}*/
.styleSwitcher .dayNight { top: 0px; display: flex; justify-content: center; align-items: center; color: var(--skin-color)}
.styleSwitcher h4 { margin: 0 0 10px; color: var(--text-black700); font-size: 16px; font-weight: 600; text-transform: capitalize; }
.styleSwitcher .colors { display: flex; flex-wrap: wrap; justify-content: space-between }
.styleSwitcher .colors span { display: inline-block; height: 30px; width: 30px; border-radius: 50%; cursor: pointer }
.styleSwitcher .colors span:hover {box-shadow: 0 0 5px #302E4D}
.styleSwitcher .color1 { background: #EC1839; }
.styleSwitcher .color2 { background: #FA5B0F; }
.styleSwitcher .color3 { background: #37B182; }
.styleSwitcher .color4 { background: #1854B4; }
.styleSwitcher .color5 { background: #F021B2; }



.color1{
    color: yellow;
}

/* Create more 5 css files to enable Toggle style Switcher */

/*

File Name
color-1.css
:root {
    --skin-color: #EC1839;
}

File Name
color-2.css
:root {
    --skin-color: #F45B0F;
}

File Name
color-3.css
:root {
    --skin-color: #37B182;
}

File Name
color-4.css
:root {
    --skin-color: #1854B4;
}

File Name
color-5.css
:root {
    --skin-color: #F021B2;
}

*/


@property --＠color-1 {
    syntax: "<color>";
    inherits: false;
    initial-value: hsl(98 100% 62%);
}

@property --＠color-2 {
    syntax: "<color>";
    inherits: false;
    initial-value: hsl(204 100% 59%);
}

/* keyframes that change the color variable */
@keyframes gradient-change {
    to {
        --＠color-1: hsl(210 100% 59%);
        --＠color-2: hsl(310 100% 59%);
    }
}

.name {
    /* apply variable changes over time */
    animation: gradient-change 2s linear infinite alternate;

    text-shadow: 10px 5px 10px #fff;

    background: linear-gradient(
        /*
          in oklch produces more vibrant gradient results
          learn more https://developer.chrome.com/docs/css-ui/access-colors-spaces#color_interpolation
        */
            to right in oklch,
                /* use the variables in a gradient (or wherever!) */
            var(--＠color-1),
            var(--＠color-2)
    );

    /* old browser support */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* modern browser version */
    background-clip: text;
    color: transparent;
}

.portfolioImg .video {
    width: 100%;
    height: auto;
    max-height: 400px; /* Укажите необходимую высоту */
}


.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px; /* Высота iframe */
    background-color: var(--back-ground) /* Цвет фона */
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #09f;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


@keyframes reveal {
    from {
        opacity: 0;
        clip-path: inset(10%  10%  45% 45% );
    }
    to {
        opacity: 1;
        clip-path: inset(0% 0% 0% 0%);
    }
}
